<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.etc.blog.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.etc.blog.servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.etc.blog.servlet.TypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.etc.blog.servlet.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.etc.blog.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>com.etc.blog.servlet.AboutServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/AboutServlet</url-pattern>
  </servlet-mapping>

</web-app>